In [1]:
import pandas as pd

C:\Users\DELL\AppData\Local\anaconda3\Lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [2]:
import os
import cv2
import numpy as np

In [5]:
os.getcwd()

'C:\\Users\\DELL\\Pictures\\Camera Roll\\archive (3)\\dataset\\Beagle'

In [4]:
os.chdir(r"C:\Users\DELL\Pictures\Camera Roll\archive (3)\dataset\Beagle")

In [6]:
row=[]
for i in os.listdir():
    image=cv2.imread(i)
    array=cv2.resize(image,(20,20))
    fla=array.flatten()
    row.append(fla)

In [7]:
df1=pd.DataFrame(row)
df1['Status']='Beagle'
df1

,0,1,2,3,4,5,6,7,8,9,...,1191,1192,1193,1194,1195,1196,1197,1198,1199,Status
0,7,13,10,3,8,6,0,2,0,8,...,119,133,152,115,128,150,113,125,148,Beagle
1,255,255,255,255,255,255,255,255,255,255,...,255,255,255,255,255,255,255,255,255,Beagle
2,158,154,159,51,76,63,56,89,70,73,...,155,171,184,152,167,180,150,160,174,Beagle
3,227,220,225,240,232,235,248,240,247,252,...,44,103,97,55,109,111,62,105,95,Beagle
4,148,154,159,164,170,175,161,166,169,155,...,88,96,89,106,114,107,125,130,128,Beagle
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,227,220,225,240,232,235,248,240,247,252,...,44,103,97,55,109,111,62,105,95,Beagle
96,148,154,159,164,170,175,161,166,169,155,...,88,96,89,106,114,107,125,130,128,Beagle
97,87,88,93,89,104,112,93,107,121,79,...,78,105,110,78,108,111,67,97,95,Beagle
98,48,82,112,51,85,115,54,92,124,56,...,40,122,100,43,119,98,61,131,113,Beagle
99,255,255,255,255,255,255,255,255,255,255,...,255,255,255,255,255,255,255,255,255,Beagle

In [8]:
os.chdir(r"C:\Users\DELL\Pictures\Camera Roll\archive (3)\dataset\Boxer")

In [9]:
row=[]
for i in os.listdir():
    image=cv2.imread(i)
    array=cv2.resize(image,(20,20))
    fla=array.flatten()
    row.append(fla)

In [10]:
df2=pd.DataFrame(row)
df2['Status']='Boxer'
df2

,0,1,2,3,4,5,6,7,8,9,...,1191,1192,1193,1194,1195,1196,1197,1198,1199,Status
0,89,171,153,81,163,145,81,163,142,94,...,68,147,129,69,157,125,61,138,103,Boxer
1,188,194,202,148,143,145,180,172,169,165,...,97,108,135,114,130,170,41,88,60,Boxer
2,20,31,34,34,51,58,55,74,82,93,...,123,110,117,123,111,113,119,106,108,Boxer
3,17,41,31,16,33,22,83,132,113,10,...,100,178,154,97,179,154,110,185,161,Boxer
4,0,12,7,0,5,6,1,17,15,6,...,46,118,136,50,129,132,50,141,142,Boxer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,17,41,31,16,33,22,83,132,113,10,...,100,178,154,97,179,154,110,185,161,Boxer
96,0,12,7,0,5,6,1,17,15,6,...,46,118,136,50,129,132,50,141,142,Boxer
97,144,155,159,85,102,114,106,137,132,113,...,131,150,167,148,165,197,134,151,147,Boxer
98,93,98,104,217,219,221,209,211,211,203,...,115,117,118,129,124,123,134,124,124,Boxer
99,20,45,31,31,56,42,45,79,67,87,...,68,155,145,87,171,163,71,167,153,Boxer

In [11]:
os.chdir(r"C:\Users\DELL\Pictures\Camera Roll\archive (3)\dataset\Bulldog")

In [12]:
row=[]
for i in os.listdir():
    image=cv2.imread(i)
    array=cv2.resize(image,(20,20))
    fla=array.flatten()
    row.append(fla)

In [13]:
df3=pd.DataFrame(row)
df3['Status']='Bulldog'
df3

,0,1,2,3,4,5,6,7,8,9,...,1191,1192,1193,1194,1195,1196,1197,1198,1199,Status
0,17,18,42,22,26,41,29,32,43,35,...,47,96,76,39,88,66,32,81,59,Bulldog
1,62,166,129,62,161,124,69,166,131,79,...,78,126,179,38,83,106,34,100,76,Bulldog
2,255,255,255,255,255,255,255,255,255,255,...,255,255,255,255,255,255,255,255,255,Bulldog
3,39,60,66,65,70,74,155,173,178,44,...,129,153,186,124,146,169,122,139,158,Bulldog
4,202,218,247,210,221,248,211,223,247,214,...,225,236,250,237,243,250,239,245,252,Bulldog
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,39,60,66,65,70,74,155,173,178,44,...,129,153,186,124,146,169,122,139,158,Bulldog
96,202,218,247,210,221,248,211,223,247,214,...,225,236,250,237,243,250,239,245,252,Bulldog
97,17,87,57,41,115,85,33,107,79,37,...,50,117,90,35,88,78,51,119,94,Bulldog
98,33,84,58,37,99,75,5,63,33,28,...,39,132,63,41,134,65,50,142,77,Bulldog
99,255,255,255,255,255,255,255,255,255,255,...,255,255,255,255,255,255,255,255,255,Bulldog

In [14]:
os.chdir(r"C:\Users\DELL\Pictures\Camera Roll\archive (3)\dataset\Dachshund")

In [15]:
row=[]
for i in os.listdir():
    image=cv2.imread(i)
    array=cv2.resize(image,(20,20))
    fla=array.flatten()
    row.append(fla)

In [16]:
df4=pd.DataFrame(row)
df4['Status']='Dachshund'
df4

,0,1,2,3,4,5,6,7,8,9,...,1191,1192,1193,1194,1195,1196,1197,1198,1199,Status
0,32,62,73,38,78,91,62,116,131,118,...,125,121,120,118,114,113,110,106,105,Dachshund
1,97,116,106,71,86,73,146,165,139,127,...,168,177,187,184,190,204,204,212,219,Dachshund
2,132,172,210,124,161,205,115,150,193,128,...,136,173,207,137,166,202,119,138,172,Dachshund
3,43,66,53,41,74,60,46,79,69,60,...,110,97,99,106,92,86,78,66,53,Dachshund
4,46,97,85,46,97,70,41,79,61,22,...,83,152,122,106,172,143,85,145,117,Dachshund
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91,97,116,106,71,86,73,146,165,139,127,...,168,177,187,184,190,204,204,212,219,Dachshund
92,43,66,53,41,74,60,46,79,69,60,...,110,97,99,106,92,86,78,66,53,Dachshund
93,46,97,85,46,97,70,41,79,61,22,...,83,152,122,106,172,143,85,145,117,Dachshund
94,188,183,182,187,182,181,202,197,196,199,...,206,213,230,189,206,227,200,219,242,Dachshund
95,97,190,153,106,205,167,93,195,153,87,...,71,171,119,48,156,103,81,165,123,Dachshund

In [17]:
os.chdir(r"C:\Users\DELL\Pictures\Camera Roll\archive (3)\dataset\German_Shepherd")

In [18]:
row=[]
for i in os.listdir():
    image=cv2.imread(i)
    array=cv2.resize(image,(20,20))
    fla=array.flatten()
    row.append(fla)

In [19]:
df5=pd.DataFrame(row)
df5['Status']='German_Shepherd'
df5

,0,1,2,3,4,5,6,7,8,9,...,1191,1192,1193,1194,1195,1196,1197,1198,1199,Status
0,181,167,108,178,164,105,173,160,109,166,...,199,212,222,178,192,204,186,196,205,German_Shepherd
1,174,176,176,177,179,179,186,188,188,178,...,139,140,138,119,120,118,101,102,100,German_Shepherd
2,74,179,167,88,189,183,93,195,190,88,...,82,178,175,85,165,149,61,159,153,German_Shepherd
3,0,1,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,German_Shepherd
4,7,57,78,40,99,121,64,130,161,45,...,21,61,120,37,79,122,15,53,94,German_Shepherd
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91,0,1,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,German_Shepherd
92,7,57,78,40,99,121,64,130,161,45,...,21,61,120,37,79,122,15,53,94,German_Shepherd
93,177,227,114,224,223,146,241,225,167,222,...,113,162,193,88,130,169,49,83,114,German_Shepherd
94,253,255,255,255,255,255,255,255,255,255,...,255,255,255,255,255,255,255,255,255,German_Shepherd
95,189,183,176,188,187,189,193,183,183,186,...,47,57,75,41,55,77,49,72,80,German_Shepherd

In [20]:
os.chdir(r"C:\Users\DELL\Pictures\Camera Roll\archive (3)\dataset\Golden_Retriever")

In [21]:
row=[]
for i in os.listdir():
    image=cv2.imread(i)
    array=cv2.resize(image,(20,20))
    fla=array.flatten()
    row.append(fla)

In [22]:
df6=pd.DataFrame(row)
df6['Status']='Golden_Retriever'
df6

,0,1,2,3,4,5,6,7,8,9,...,1191,1192,1193,1194,1195,1196,1197,1198,1199,Status
0,11,21,26,8,18,23,14,17,25,6,...,98,118,109,95,109,105,91,105,101,Golden_Retriever
1,42,93,76,42,85,70,22,66,44,64,...,202,213,218,122,158,162,167,204,220,Golden_Retriever
2,82,87,86,83,88,87,93,98,97,93,...,65,155,120,52,165,132,67,183,146,Golden_Retriever
3,154,163,173,161,170,180,166,175,185,174,...,192,194,195,189,194,195,181,186,187,Golden_Retriever
4,41,53,52,91,117,127,84,111,125,87,...,89,92,106,106,116,134,77,87,106,Golden_Retriever
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86,42,93,76,42,85,70,22,66,44,64,...,202,213,218,122,158,162,167,204,220,Golden_Retriever
87,154,163,173,161,170,180,166,175,185,174,...,192,194,195,189,194,195,181,186,187,Golden_Retriever
88,41,53,52,91,117,127,84,111,125,87,...,89,92,106,106,116,134,77,87,106,Golden_Retriever
89,255,253,242,241,237,226,154,185,184,138,...,51,128,60,48,129,66,23,117,63,Golden_Retriever
90,224,235,240,229,240,245,235,243,249,239,...,128,134,132,155,163,156,100,110,98,Golden_Retriever

In [23]:
os.chdir(r"C:\Users\DELL\Pictures\Camera Roll\archive (3)\dataset\Labrador_Retriever")

In [24]:
row=[]
for i in os.listdir():
    image=cv2.imread(i)
    array=cv2.resize(image,(20,20))
    fla=array.flatten()
    row.append(fla)

In [25]:
df7=pd.DataFrame(row)
df7['Status']='Labrador_Retriever'
df7

,0,1,2,3,4,5,6,7,8,9,...,1191,1192,1193,1194,1195,1196,1197,1198,1199,Status
0,33,63,68,12,32,33,29,57,59,39,...,78,125,140,18,57,67,47,83,86,Labrador_Retriever
1,30,54,46,36,60,52,39,76,68,23,...,39,57,64,55,77,82,30,65,68,Labrador_Retriever
2,37,60,56,31,56,46,49,82,71,55,...,70,130,121,82,140,131,82,130,131,Labrador_Retriever
3,68,100,95,36,67,62,80,125,118,54,...,114,139,155,31,53,74,68,96,111,Labrador_Retriever
4,66,131,109,63,128,106,66,131,109,68,...,67,133,108,67,133,108,67,133,108,Labrador_Retriever
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90,68,100,95,36,67,62,80,125,118,54,...,114,139,155,31,53,74,68,96,111,Labrador_Retriever
91,66,131,109,63,128,106,66,131,109,68,...,67,133,108,67,133,108,67,133,108,Labrador_Retriever
92,29,54,46,72,124,112,66,97,96,49,...,152,167,173,84,121,117,113,139,133,Labrador_Retriever
93,106,225,196,101,223,193,91,217,192,139,...,44,121,83,28,121,82,9,92,54,Labrador_Retriever
94,52,74,82,42,45,53,78,98,108,64,...,92,145,127,52,105,93,64,110,106,Labrador_Retriever

In [26]:
os.chdir(r"C:\Users\DELL\Pictures\Camera Roll\archive (3)\dataset\Poodle")

In [27]:
row=[]
for i in os.listdir():
    image=cv2.imread(i)
    array=cv2.resize(image,(20,20))
    fla=array.flatten()
    row.append(fla)

In [28]:
df8=pd.DataFrame(row)
df8['Status']='Poodle'
df8

,0,1,2,3,4,5,6,7,8,9,...,1191,1192,1193,1194,1195,1196,1197,1198,1199,Status
0,114,100,102,127,107,110,122,105,108,131,...,99,108,118,101,108,117,97,104,113,Poodle
1,53,67,65,83,97,95,34,61,55,142,...,48,115,94,46,106,92,51,97,85,Poodle
2,29,61,31,21,59,31,38,80,45,59,...,74,167,122,74,169,119,71,165,110,Poodle
3,120,137,183,126,142,189,130,148,195,135,...,205,216,244,200,214,242,199,213,242,Poodle
4,156,200,204,121,169,173,111,160,159,132,...,159,165,169,44,47,55,132,131,140,Poodle
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,120,137,183,126,142,189,130,148,195,135,...,205,216,244,200,214,242,199,213,242,Poodle
96,156,200,204,121,169,173,111,160,159,132,...,159,165,169,44,47,55,132,131,140,Poodle
97,47,34,20,0,9,0,104,103,93,178,...,199,207,207,190,201,205,184,195,199,Poodle
98,86,91,89,20,25,23,31,37,36,33,...,169,178,211,150,173,205,158,181,213,Poodle
99,82,125,109,62,106,79,115,167,153,215,...,199,198,200,198,198,198,209,209,209,Poodle

In [40]:
os.chdir(r"C:\Users\DELL\Pictures\Camera Roll\archive (3)\dataset\Rottweiler")

In [41]:
row=[]
for i in os.listdir():
    image=cv2.imread(i)
    array=cv2.resize(image,(20,20))
    fla=array.flatten()
    row.append(fla)

In [42]:
df9=pd.DataFrame(row)
df9['Status']='Rottweiler'
df9

,0,1,2,3,4,5,6,7,8,9,...,1191,1192,1193,1194,1195,1196,1197,1198,1199,Status
0,111,170,138,94,157,119,135,204,181,128,...,173,228,209,173,224,206,166,226,206,Rottweiler
1,24,94,30,56,124,58,40,118,59,52,...,27,103,29,22,89,17,19,64,22,Rottweiler
2,74,127,129,75,135,134,74,123,130,82,...,98,169,139,136,206,188,114,185,173,Rottweiler
3,255,255,255,255,255,255,255,255,255,255,...,244,245,243,255,255,255,255,255,255,Rottweiler
4,227,220,217,215,211,207,208,207,203,200,...,27,20,14,97,107,123,95,105,122,Rottweiler
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84,227,220,217,215,211,207,208,207,203,200,...,27,20,14,97,107,123,95,105,122,Rottweiler
85,255,255,255,255,255,255,255,255,255,255,...,255,255,255,255,255,255,255,255,255,Rottweiler
86,255,255,255,255,255,255,255,255,255,255,...,255,255,255,255,255,255,255,255,255,Rottweiler
87,76,108,144,101,134,165,110,138,172,102,...,86,107,123,89,102,122,87,98,124,Rottweiler
88,255,255,255,255,255,255,255,255,255,255,...,255,255,255,255,255,255,255,255,255,Rottweiler

In [47]:
os.chdir(r"C:\Users\DELL\Pictures\Camera Roll\archive (3)\dataset\Yorkshire_Terrier")

In [48]:
row=[]
for i in os.listdir():
    image=cv2.imread(i)
    array=cv2.resize(image,(20,20))
    fla=array.flatten()
    row.append(fla)

In [49]:
df10=pd.DataFrame(row)
df10['Status']='Yorkshire_Terrier'
df10

,0,1,2,3,4,5,6,7,8,9,...,1191,1192,1193,1194,1195,1196,1197,1198,1199,Status
0,62,142,143,48,136,136,50,146,146,54,...,67,105,137,86,122,158,81,108,135,Yorkshire_Terrier
1,73,73,73,81,81,81,88,88,88,93,...,189,189,189,183,183,183,177,177,177,Yorkshire_Terrier
2,5,23,10,9,25,17,13,27,15,12,...,35,65,79,38,63,82,37,60,84,Yorkshire_Terrier
3,18,10,11,16,13,12,23,30,24,40,...,219,210,200,219,210,200,208,199,189,Yorkshire_Terrier
4,255,255,255,255,255,255,255,255,255,255,...,255,255,255,255,255,255,255,255,255,Yorkshire_Terrier
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,18,10,11,16,13,12,23,30,24,40,...,219,210,200,219,210,200,208,199,189,Yorkshire_Terrier
96,255,255,255,255,255,255,255,255,255,255,...,255,255,255,255,255,255,255,255,255,Yorkshire_Terrier
97,78,79,96,73,92,90,66,108,94,74,...,55,181,128,44,146,93,68,166,100,Yorkshire_Terrier
98,36,73,63,41,78,68,43,80,72,49,...,78,104,110,40,75,65,36,71,61,Yorkshire_Terrier
99,38,81,74,79,95,88,116,138,133,48,...,105,80,69,85,58,51,135,111,104,Yorkshire_Terrier

In [52]:
df=pd.concat([df1,df2,df3,df4,df5,df6,df7,df8,df9,df10],axis=0)

In [53]:
df

,0,1,2,3,4,5,6,7,8,9,...,1191,1192,1193,1194,1195,1196,1197,1198,1199,Status
0,7,13,10,3,8,6,0,2,0,8,...,119,133,152,115,128,150,113,125,148,Beagle
1,255,255,255,255,255,255,255,255,255,255,...,255,255,255,255,255,255,255,255,255,Beagle
2,158,154,159,51,76,63,56,89,70,73,...,155,171,184,152,167,180,150,160,174,Beagle
3,227,220,225,240,232,235,248,240,247,252,...,44,103,97,55,109,111,62,105,95,Beagle
4,148,154,159,164,170,175,161,166,169,155,...,88,96,89,106,114,107,125,130,128,Beagle
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,18,10,11,16,13,12,23,30,24,40,...,219,210,200,219,210,200,208,199,189,Yorkshire_Terrier
96,255,255,255,255,255,255,255,255,255,255,...,255,255,255,255,255,255,255,255,255,Yorkshire_Terrier
97,78,79,96,73,92,90,66,108,94,74,...,55,181,128,44,146,93,68,166,100,Yorkshire_Terrier
98,36,73,63,41,78,68,43,80,72,49,...,78,104,110,40,75,65,36,71,61,Yorkshire_Terrier
99,38,81,74,79,95,88,116,138,133,48,...,105,80,69,85,58,51,135,111,104,Yorkshire_Terrier

In [54]:
x=df.drop('Status',axis=1)
y=df['Status']

In [55]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [56]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=36)

In [57]:
from sklearn.naive_bayes import MultinomialNB

In [58]:
mb=MultinomialNB()
mb.fit(x_train,y_train)
y_pre=mb.predict(x_test)
accuracy_score(y_test,y_pre)

0.422680412371134

In [59]:
from sklearn.svm import SVC

In [60]:
sv=SVC()
sv.fit(x_train,y_train)
y_pre=sv.predict(x_test)
accuracy_score(y_test,y_pre)

0.9896907216494846

In [61]:
from sklearn.neighbors import KNeighborsClassifier

In [62]:
knn=KNeighborsClassifier()
knn.fit(x_train,y_train)
y_pre=knn.predict(x_test)
accuracy_score(y_test,y_pre)

0.8298969072164949

In [63]:
from sklearn.tree import DecisionTreeClassifier

In [64]:
dt=DecisionTreeClassifier()
dt.fit(x_train,y_train)
y_pre=dt.predict(x_test)
accuracy_score(y_test,y_pre)

0.9845360824742269

In [65]:
from sklearn.linear_model import LogisticRegression

In [66]:
lr=LogisticRegression()
lr.fit(x_train,y_train)
y_pre=lr.predict(x_test)
accuracy_score(y_test,y_pre)

0.9845360824742269

In [88]:
cwd = os.chdir(r'C:\Users\DELL\Machine Learning')

In [89]:
import pickle

In [90]:
pickle.dump(lr,open('image.pkl','wb'))

In [91]:
os.getcwd()

'C:\\Users\\DELL\\Machine Learning'

In [92]:
model=pickle.load(open('image.pkl','rb'))

In [79]:
image=cv2.imread(r"C:\Users\DELL\Pictures\Camera Roll\archive (3)\dataset\German_Shepherd\German Shepherd_3.jpg")
test_array = img_mani(image)

In [77]:
def img_mani(image):
    arr=cv2.resize(image,(20,20))
    test_d=arr.flatten()
    return test_d

In [80]:
#arr=cv2.resize(image,(20,20))
#test_d=arr.flatten()
model.predict([test_array])[0]

'German_Shepherd'